.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
Code/ClusterPractice.sh
.RDataTmp
Code/Functions/LCSTestXCode/LCSTestXCode.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Code/Functions/LCSTestXCode/LCSTestXCode.xcodeproj/xcshareddata/xcschemes/LCSTestXCode.xcscheme
Code/Functions/LCSTestXCode/LCSTestXCode.xcodeproj/xcuserdata/nathanielcoombs.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Intermediate stuff/FWS07SteelFalls.pdf
Intermediate stuff/SteelDemoSurrHists.pdf
Data/SQLTest0.sql
Data/Coleman.sql
Data/SQLTest0Dets.csv
Data/UCD69kHzFMeta.csv
Data/Releases.csv
Data/Cull.csv
Data/ColemanRel.csv
Data/HatchLocTimeNum.csv
*.csv
*.dbf
*.prj
*.shp
*.shx
*.xml
*.xcuserstate
*.pbxproj
*.pbxproj
*.xcworkspacedata
*.plist
Code/NatLCSMemWiz/NatLCSMemWiz.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.pdf
*.rds
Data/SJSSynch.rds
Data/SJCSynch.rds
Data/SJCSynch.rds
*.rds
*.icloud
Data/SJSPairs.rds
*.rds
*.history
*.rds
*.rds
Data/SJCPairs.rds
Results/SimPrelim.xlsx
Results/~$SimPrelim.xlsx
Data/SJCPairs.rds
.RDataTmp1
*.rds
*.qmd
*.xlsx
*.xls
Data/SJCPairs.rds
